# MySQL Database Configuration
MYSQL_HOST=localhost
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_CHARSET=utf8mb4

DATABASE_URL="mysql://root:@localhost:3306/"

# JWT Secret (change in production!)
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"